.form-wrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.form-wrapper label {
    margin: 10px 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}